body {
  background-color: #0f172a;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
    /* grid-template-rows: 80px 200px; */
  /* background-color: rgb(37, 27, 46); */
  justify-content: center; /* Center horizontally */
  padding: 10px;
}
 /* Media query for smaller screens */
 @media (max-width: 1000px) {
  .header-container {
    grid-template-columns: auto;
    text-align: center;
  }
}
#header {
  text-align: right;
  margin-right: 5%;
}
.button-container {    
  margin-top: 1%; 
  text-align: center;
}
.button-container button {
margin: 20px 50px; /* Add 20px margin on the top and bottom of each button */
}
#connectButton {
/* Default styles */
background-color: #ff8f67;
color: white;
margin-top: 2%;
font-weight: bold;
font-size: 20px;
padding: 10px 10px;
border: none;
border-radius: 10px;
cursor: pointer;
z-index: 6;
box-shadow: 0 0 10px white;

/* Change background color on hover */
transition: background-color 0.3s; /* Add a smooth transition effect */
}

#connectButton:hover {
background-color: #ffbda5; /* Change the background color on hover */
}

#connectButton:active {
background-color: #3f14ff; /* Change the background color when the button is clicked */
}
#imageContainer {
  height: 300px;
  max-width: 75%;
  margin: 8% 10% 2% 10%; /* top, right, bottom, left */
  background-color: #2a2b2b;
  border-radius: 10px;
  align-self: start; /* Align vertically to the start of the row */
  text-align: center;
}

#imageContainer img {
  max-width: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
    /* grid-template-rows: 80px 200px; */
  gap: 100px;
  background-color: #0f172a;
  justify-content: center; /* Center horizontally */
  padding: 10px;
}
 /* Media query for smaller screens */
 @media (max-width: 600px) {
  #grid-container {
    grid-template-columns: auto;
    text-align: center;
  }
}

/*checkURIbutton*/
#grid-container > button {   /*checkURIbutton*/
  max-width: 400px;     /*checkURIbutton*/
  width: 50%;
  height: 80px;
  background-color: #ffae00;      
  color: white;    
  font-weight: bold;
  font-size: 30px;    
  border-radius: 10px;     
  box-shadow: 0 0 10px white;
  justify-self: center; /* Align horizontally to the start of the column */
position: relative; /* Set the vertical position*/
 
}


/* Style for form labels (text ABOVE the labels) */
label {
  font-weight: bold;
}

#nftForm {  
  width: 100%;
  max-width: 350px; /* Adjust the maximum width as needed */ 
  /* background-color: #ff8f67;     to get elements aligned, turn this on*/
}

/* Style for input fields */
input[type="text"] {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#nftForm input[type="text"] {
  width: 90%; /* keep this lower than the nftForm itself */ 
}

#nftImageButton {
  background-color: #ffae00;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  width: 320px;
}

#uriContainer {  
  font-weight: bold;
    font-size: 25px;
    border: 4px solid #ffae00;
    border-radius: 10px;
    margin: 0% 10%; /* top, right, bottom, left */
    padding:20px;    
    white-space: pre-wrap;
    overflow-x: auto; /* Add a horizontal scrollbar when necessary */
    }

#uriContainer h2 {  /* this is the placeholder text */
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) */
}
.mintButton {    
  background-color: #2f0051ca;
  color: white;
  font-weight: bold;
  font-size: 25px;    
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 15px white; 
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#copyButton {
  background-color: #4c00b0;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  animation: pulse 2s infinite; /* Adjust the animation duration and iterations as needed */
}

.italic-placeholder::placeholder {
  font-style: italic;
}
/* Style for the footer */
footer {
  margin-top: 10%;
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color */
  padding: 20px; /* Padding for the footer content */
  display: flex; /* Make the children (text and buttons) flex items */
  justify-content: space-between; /* Space elements evenly */
}

/* Style for the text in the footer */
.footer-text {
  flex: 1; /* Expand to take available space */
  margin-bottom: 10px; /* Add space between text and buttons */
}

/* Style for the buttons in the footer */
.footer-buttons {
  margin-left: 10%;
  display: flex; /* Make the buttons horizontal */
  gap: 20px; /* Gap between buttons */
  flex: 1; /* Expand to take available space */
}

/* Style for the links */
.footer-buttons a {
  text-decoration: none;
  color: #fff; /* Text color for the links */
  font-weight: bold;
  background-color: #ff8f67; /* Background color for the links */
  padding: 5px 10px; /* Padding for the links */
  border-radius: 5px; /* Rounded corners for the links */
  display: flex; /* Use flexbox to center vertically */
  align-items: center; /* Align text vertically center */
}
#faucetLink {
  color: #ffae00;
}
 /* Media query for smaller screens */
 @media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
}
/* Styling for the popup container */
#popupContainer {
  display: none; /* Initially hide the popup */
  position: fixed; /* Position it fixed on the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  z-index: 1000; /* Ensure it appears above other elements */
}
#popupContainer h2 {  /* this is the header text */
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 1); /* Adjust the alpha value (0.5 in this example) */
}

.popup-content {
  background: #ff8800; /* Background color of the popup */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}


/* Additional styling for the close button (if needed) */
#closePopupButton {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
}
