body {
  background-color: rgb(50, 49, 51);
  color: white;
}
.header-container {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
    /* grid-template-rows: 80px 200px; */
  /* background-color: rgb(37, 27, 46); */
  justify-content: center; /* Center horizontally */
  padding: 10px;
}
 /* Media query for smaller screens */
 @media (max-width: 1000px) {
  .header-container {
    grid-template-columns: auto;
    text-align: center;
  }
}
#header {
  text-align: right;
  margin-right: 5%;

}


#imageContainer {
  height: 400px;
  max-width: 100%;
  margin: 8% 10% 2% 10%; /* top, right, bottom, left */
  background-color: #2a2b2b;
  border-radius: 10px;
  align-self: start; /* Align vertically to the start of the row */
}

#imageContainer img {
  max-width: 100%;
}
  .button-container {    
    margin-top: 1%; 
    text-align: center;
}
.button-container button {
  margin: 20px 50px; /* Add 20px margin on the top and bottom of each button */
}
#connectButton {
  /* Default styles */
  background-color: #ff8f67;
  color: white;
  margin-top: 2%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 10px white;

  /* Change background color on hover */
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

#connectButton:hover {
  background-color: #ffbda5; /* Change the background color on hover */
}

#connectButton:active {
  background-color: #3f14ff; /* Change the background color when the button is clicked */
}




/* Style for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

#nftForm {  
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the form horizontally */
  text-align: center; /* Center-align the form content */
}

/* Style for input fields */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Optional: Style for form container header (if needed) */
#nftForm h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Optional: Center align the form */
#nftForm {
  text-align: center;
}
#nftImageButton {
  background-color: #ffae00;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 10px white;
}


#grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
    /* grid-template-rows: 80px 200px; */
  gap: 10px;
  background-color: rgb(50, 49, 51);
  justify-content: center; /* Center horizontally */
  padding: 10px;
}
 /* Media query for smaller screens */
 @media (max-width: 1000px) {
  #grid-container {
    grid-template-columns: auto;
    text-align: center;
  }
}

/*checkURIbutton*/
#grid-container > button {   /*checkURIbutton*/
  max-width: 400px;     /*checkURIbutton*/
  width: 50%;
  height: 80px;
  background-color: #ffae00;      
  color: white;    
  font-weight: bold;
  font-size: 30px;    
  border-radius: 10px;     
  box-shadow: 0 0 10px white;
  justify-self: center; /* Align horizontally to the start of the column */
position: relative; /* Set the vertical position*/
 
}


#uriContainer {

  width: 85%;
  font-weight: bold;
    font-size: 25px;
    border: 4px solid #ffae00;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow-x: auto; /* Add a horizontal scrollbar when necessary */
    max-width: 100%; /* Limit the container's width to the viewport */
}

#uriContainer h2 {
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) */
}
.mintButton {    
  background-color: #2f0051ca;
  color: white;
  font-weight: bold;
  font-size: 25px;    
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 15px white; 
}