body {
  background-color: rgb(50, 49, 51);
  color: white;
}


#mintButton {    
    background-color: #2f0051ca;
    color: white;
    font-weight: bold;
    font-size: 30px;    
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 6;
    box-shadow: 0 0 15px white; 
}
#mintOnPolygonButton{    
    background-color: #2f0051ca;
    color: white;
    font-weight: bold;
    font-size: 30px;
    stroke: black;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 6;
    box-shadow: 0 0 15px white; 
}

#imageContainer {
  max-width: 90%;
  margin: 10% 10% 20% 10%; /* top, right, bottom, left */
  background-color: #2a2b2b;
  border-radius: 10px;
}

#imageContainer img {
  max-width: 10%;
  height: auto;
  border-radius: 10px;
}
  h3 {
    margin-top: 100px;
    padding-top: 20px; /* Adjust this value as needed */
    color: white;
    padding-left: 20px;

  }
  .button-container {    
    margin-top: 1%; 
    text-align: center;
}
.button-container button {
  margin: 20px 50px; /* Add 20px margin on the top and bottom of each button */
}
.button {
  background-color: #ffae00;
  color: white;  
  margin-top: 2%;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 10px white;
}



/* Style for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

#nftForm {  
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the form horizontally */
  text-align: center; /* Center-align the form content */
}

/* Style for input fields */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Optional: Style for form container header (if needed) */
#nftForm h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Optional: Center align the form */
#nftForm {
  text-align: center;
}
#nftImageButton {
  background-color: #ffae00;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  box-shadow: 0 0 10px white;
}
#grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
    /* grid-template-rows: 80px 200px; */
  gap: 10px;
  background-color: #3b3a3c;
  padding: 10px;
}

#grid-container > div {
  text-align: center;
  font-size: 30px;
}

#grid-container > button {
  width: 50%;
  height: 15%;
  background-color: #ffae00;      
  color: white;    
  font-weight: bold;
  font-size: 30px;    
  border-radius: 10px;     
  box-shadow: 0 0 10px white;
  justify-self: start; /* Align horizontally to the start of the column */
position: relative; /* Set the vertical position*/
top: 60%; 
}

#uriContainer {

  width: 85%;
  font-weight: bold;
    font-size: 25px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 20px;
    white-space: pre-wrap;
    overflow-x: auto; /* Add a horizontal scrollbar when necessary */
    max-width: 100%; /* Limit the container's width to the viewport */
}

#uriContainer h2 {
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) */
}